<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        {% for lien in menu %}
        <li>
            <a class="page-scroll" href="{{ lien.url }}">{{ lien.titre }}</a>
        </li>
        {% endfor %}

        {# Ajout du Menu Administration uniquement pour les Administrateurs #}

        {% if is_granted('ROLE_ADMIN') %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="{{ path('biynlvp_admin_membres') }}">Gestion des Membres</a></li>
                <li><a href="{{ path('biynlvp_inscription') }}">Inscrire un Membre</a></li>
                <li><a href="{{ path('biynlvp_admin_nouveaucour') }}">Ajouter un Cour</a></li>
                </ul>
            </li>
          {% endif %}

          {# Lien de Déconnexion #}

          {% if app.user %}
            <li>
               <a class="page-scroll" href="{{ path('biynlvp_deconnexion') }}">Déconnexion</a>
            </li>
          {% endif %}

    </ul>
</div>