{% extends "biynlvpBundle::extranet.html.twig" %}

{% block title %}
    Espace Administrateur - {{ parent() }}
{% endblock %}

{% block biynlvp_body %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <!--<img src="{{ asset('bundles/biynlvp/img/logo.png') }}" alt="Logo la Voix Prophétique">-->
                {% for message in app.session.flashbag.get('notam') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Notification :</strong> {{message}}
                    </div>
                {% endfor %}
                <h1 id="homeHeading">Gestion des Membres</h1>
                <hr>
                <p>
                    Vous pouvez gérer les membres depuis cette page.
                </p>
                <a href="#lesmembres" class="btn btn-primary btn-xl page-scroll"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> Voir les membres</a>
            </div>
        </div>
    </header>
    <section class="bg-primary" id="lesmembres">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Les Membres <em>( {{ membres|length }} {% if membres|length <= 1 %} inscrit {% else %} inscrits {% endif %})</em></h2>
                    <hr class="light">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Prénom et Nom</th>
                                <th>Email</th>
                                <th>Date inscription</th>
                                <th>Etat</th>
                                <th>Statut</th>
                                <th>Dernière Connexion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for membre in membres %}
                            <tr>
                                <td>{{membre.prenom}} {{membre.nom}}</td>
                                <td>{{membre.email}}</td>
                                <td>{{membre.dateinscription|date("d/m/Y")}}</td>
                                <td>{% if membre.isactive %} Actif {% else %} Suspendu {% endif %}</td>
                                <td>{% if 'ROLE_ADMIN' in membre.roles %} Administrateur {% else %} Membre {% endif %}</td>
                                <td>
                                    {% if membre.derniereconnexion is not empty %}
                                        <time datetime="{{ membre.derniereconnexion | date('Y-m-d H:i:s') }}"></time>
                                    {% else %}
                                        <span>...</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/fr.js" integrity="sha256-DJpVvSniFq7HyHLFi3n3thaGrgI4XiEsDnQwyY3BnIo=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $('time').each(function (t, e) {
                let time = moment($(e).attr('datetime'));
                $(e).html('<span>' + time.from(moment()) +'</span>');
            });
        });
    </script>
{% endblock %}
